# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.gradle

/natlex_test_data/base/
/natlex_test_data/global/
/natlex_test_data/pg_commit_ts/
/natlex_test_data/pg_dynshmem/
/natlex_test_data/pg_logical/
/natlex_test_data/pg_multixact/
/natlex_test_data/pg_notify/
/natlex_test_data/pg_replslot/
/natlex_test_data/pg_serial/
/natlex_test_data/pg_snapshots/
/natlex_test_data/pg_stat/
/natlex_test_data/pg_stat_tmp/
/natlex_test_data/pg_subtrans/
/natlex_test_data/pg_tblspc/
/natlex_test_data/pg_twophase/
/natlex_test_data/pg_wal/
/natlex_test_data/pg_xact/
/natlex_test_data/pg_hba.conf
/natlex_test_data/pg_ident.conf
/natlex_test_data/PG_VERSION
/natlex_test_data/postgresql.auto.conf
/natlex_test_data/postgresql.conf
/natlex_test_data/postmaster.opts
/natlex_test_data/postmaster.pid
